<html>
<body>
    <h2>Account Application Update</h2>
    <p>Dear {{ designer.user.get_full_name|default:designer.user.username }},</p>
    <p>We regret to inform you that your designer account application was <strong>not approved</strong> by the admin at this time.</p>
    <p>If you have questions or believe this is a mistake, please contact support for more information.</p>
    <p>Thank you for your interest.</p>
    <p>Best regards,<br>Textile Fabric Waste Management System Team</p>
</body>
</html>
